*.csproj
*.sln
*.DotSettings

Temp/
Library/
obj/
Build/

Assets/UnityVS/
Assets/UnityVS.meta
Assets/Editor/Image Effects/
Assets/Standard Assets/Image Effects (Pro Only)/
Assets/Editor/Image Effects.meta
Assets/Standard Assets/Image Effects (Pro Only).meta
